**CLASS 1**

In [ ]:
print("MANI IS KING")

MANI IS KING

In [ ]:
name = 12345

In [ ]:
print(name)
print(type(name))

12345
<class 'int'>

In [ ]:
num1 = 10
num2 = 20
print(num1+num2)

30

In [ ]:
print (type(num1))

<class 'int'>

In [ ]:

num1= num2 + num3
num1 = 5
num3 = 6
print(num2)

1.2

In [ ]:
num1 = 12
num2 = 1.2
a = num1%num2
print(a)
print(type(a))

4.440892098500626e-16
<class 'float'>

class2

In [ ]:
10<9

False

In [ ]:
a=10
b=20
print(a>=b)

False

In [ ]:
num1 =int(input("num1 :"))
num2 =int(input("num2:"))
add = num1 +num2 - num3 *num1/num2
print(add)

num1 :7
num2:3
-4.0

In [ ]:
# collecction of data types
# list - ordered collection of datatype
#tuple
#dictionary
#set

In [ ]:
mylist=[1,2,2.3,"DATA",True,1,]
mylist[3]="MAN"
print(mylist)
mylist.append(100)
print(mylist)
mylist.insert(0,100)
print(mylist)
del mylist[-1]
print(mylist)
mylist.append(30)
print(mylist)
mylist.pop(-1)
print(mylist)
mylist1=[23,55,66,77,88,22,11,45,33,22]
mylist.extend(mylist1)
print(mylist)
print(type(mylist))
print( "length=",len(mylist))
del mylist1
print(mylist)

[1, 2, 2.3, 'MAN', True, 1]
[1, 2, 2.3, 'MAN', True, 1, 100]
[100, 1, 2, 2.3, 'MAN', True, 1, 100]
[100, 1, 2, 2.3, 'MAN', True, 1]
[100, 1, 2, 2.3, 'MAN', True, 1, 30]
[100, 1, 2, 2.3, 'MAN', True, 1]
[100, 1, 2, 2.3, 'MAN', True, 1, 23, 55, 66, 77, 88, 22, 11, 45, 33, 22]
<class 'list'>
length= 17
[100, 1, 2, 2.3, 'MAN', True, 1, 23, 55, 66, 77, 88, 22, 11, 45, 33, 22]

In [ ]:
a =(12,1.2,"date",True)
print(a)

(12, 1.2, 'date', True)

**Class 3**

In [ ]:
#DIctionary
mydic = {
    "username":"admin",
         "password":123,
         "Brand":"Dell"
 }
mydic['password']=12333
print(mydic["password"])
mydic["kaki"]=12345
mydic.pop("Brand")
print(mydic)

12333
{'username': 'admin', 'password': 12333, 'kaki': 12345}

In [ ]:
#set
myset = {1,2,3,4,5,11,5,5,3}
print(myset)
myset.add(100)
print(myset)
myset.remove(5)
print(myset)
set1 = {11,22,33,44,1}
set2 = {44,55,66,1}
set3 = {77,88,99,44,1}
myset =set1|set2|set3
print(myset)
myset= set1.intersection(set2)
print(myset)
myset =set1&set2&set3
print(myset)

{1, 2, 3, 4, 5, 11}
{1, 2, 3, 4, 5, 100, 11}
{1, 2, 3, 4, 100, 11}
{33, 1, 66, 99, 11, 44, 77, 22, 55, 88}
{1, 44}
{1, 44}

In [ ]:
a=frozenset(["e","f"])
print(a)
a.add("g")
print(a)

frozenset({'e', 'f'})

AttributeError: ignored

In [ ]:
#FUNCTION
print("hellow")
print("hi")

hellow
hi

In [ ]:
def a():
  print("hellow")
  print("hi")
  a()
  a()

In [ ]:
def a():
  print("hellow")
  print("hi")

a()
a()
a()
a()
a()
a()

hellow
hi
hellow
hi
hellow
hi
hellow
hi
hellow
hi
hellow
hi

In [ ]:
def name():
  a="tom"
  print ("my",a)
name()
name()
name()
name()
name()

my tom
my tom
my tom
my tom
my tom

In [1]:
def add(num1,num2):
 
 print("sum :",num1+num2)
add(6,7)
add(2,4)
add(20,4)

sum : 13
sum : 6
sum : 24

CLASS 4

In [6]:
def a():
  num1=int(input("num1:"))
  num21=int(input("num2:"))
  print("totat = ",(num1+num2))
a()

num1:10
num2:100
totat =  110

In [20]:
#Iterators 
#iter and next
list1=["my","name","is","MR","MANI"]
print(list1)

['my', 'name', 'is', 'MR', 'MANI']

In [29]:
myiteration = iter(list1)

In [30]:
print(next(myiteration))

my

In [54]:
def a():
  
    name=input("n")
    for x in range(10):
      print("Hello",name)
a()

nmani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani
Hello mani

In [45]:
#for loop -> print the data one by one after the other
list1=[1,34,54,23,22,45]
for x in list1:
  print("the values",x)

the values 1
the values 34
the values 54
the values 23
the values 22
the values 45

In [60]:
for x in range(10,50):
  print("the ",x,"is",x**2,"yup",10+x**2)

the  10 is 100 yup 110
the  11 is 121 yup 131
the  12 is 144 yup 154
the  13 is 169 yup 179
the  14 is 196 yup 206
the  15 is 225 yup 235
the  16 is 256 yup 266
the  17 is 289 yup 299
the  18 is 324 yup 334
the  19 is 361 yup 371
the  20 is 400 yup 410
the  21 is 441 yup 451
the  22 is 484 yup 494
the  23 is 529 yup 539
the  24 is 576 yup 586
the  25 is 625 yup 635
the  26 is 676 yup 686
the  27 is 729 yup 739
the  28 is 784 yup 794
the  29 is 841 yup 851
the  30 is 900 yup 910
the  31 is 961 yup 971
the  32 is 1024 yup 1034
the  33 is 1089 yup 1099
the  34 is 1156 yup 1166
the  35 is 1225 yup 1235
the  36 is 1296 yup 1306
the  37 is 1369 yup 1379
the  38 is 1444 yup 1454
the  39 is 1521 yup 1531
the  40 is 1600 yup 1610
the  41 is 1681 yup 1691
the  42 is 1764 yup 1774
the  43 is 1849 yup 1859
the  44 is 1936 yup 1946
the  45 is 2025 yup 2035
the  46 is 2116 yup 2126
the  47 is 2209 yup 2219
the  48 is 2304 yup 2314
the  49 is 2401 yup 2411

In [62]:
#Module
import math
print(math.sin(45))

0.8509035245341184

In [64]:
print(math.factorial(4))

24

In [67]:
print(math.sqrt(4))

2.0

In [69]:
#date
import datetime
x=datetime.datetime.now()
print(x)

2023-03-02 17:42:53.897708

In [73]:
import random
print(random.randint(0,5))

4

In [79]:
list = [12,"love",True,5.4]
print(random.choice(list))

love

In [80]:
# slicing 
s="MANIKANTA"
print(s[0:4])

MANI

CLASS 5

In [81]:
# files
#Read Mode
#Write Mode 
#Append Mode

In [83]:
myfile=open("a.txt","r")
print(myfile.read())

MY LIFE AND ONLY MY LIFE

In [109]:
myfile.close()

In [110]:
myfile=open("a.txt","w")
print(myfile.write("This is no ur life \n"))

20

In [122]:
myfile=open("a.txt","r")
print(myfile.read())

This is no ur life
This is my life
This is my life
This is my life

In [129]:
myfile=open("a.txt","a")
myfile.write("This is my life \n")

17

In [130]:
myfile=open("a.txt","r")
print(myfile.read())

This is no ur life
This is my life
This is my life
This is my life
This is my life
This is my life

In [132]:
#Context Manager
with open("a.txt","r") as file1:
  print(file1.read())

This is no ur life
This is my life
This is my life
This is my life
This is my life
This is my life
This is my life

In [134]:
 print(file1.read())
# file1 is closed automatically

ValueError: ignored

In [135]:
#String formating
#% operrator
#.format()
#fstring
#string template calss

In [143]:
#1.  operator
print("Hellow %s all %s" % ("welcome to each and every\n","wish u"))

Hellow welcome to each and every
 all wish u

In [147]:
#2
print("Hellow {0} all {0}" .format ("welcome to each and every\n","wish u"))

Hellow welcome to each and every
 all welcome to each and every

In [151]:
#3
A =int(input("n1="))
B =int(input("n2="))
print(f"sum =",A+B)

n1=4
n2=8
sum = 12